.icon { background-image: url(../images/sprite.png); background-size: 6.5rem 3.62rem; background-repeat: no-repeat;}
.icon-1 { width: 3.2rem; height: 3.2rem; background-position: 0rem 0rem; }
.icon-2 { width: 3.2rem; height: 3.2rem; background-position: -3.3rem 0rem; }
.icon-32 { width: 0.32rem; height: 0.32rem; background-position: 0rem -3.3rem; }