<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title><%=htmlWebpackPlugin.options.title || 'xjs-framework'%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <!--<% if (htmlWebpackPlugin.options.mobile) { %>-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <!--<meta content="yes" name="apple-touch-fullscreen">-->
    <!--<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">-->
    <!--<meta content="telephone=no,email=no" name="format-detection">-->
    <!--<meta content="fullscreen=yes,preventMove=no" name="ML-Config">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<% } %>-->
    <!--<% for (var css in htmlWebpackPlugin.files.css) { %>-->
    <!--<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">-->
    <!--<% } %>-->
</head>
<body>
<div class="app-view" id="appview"></div>
</body>
</html>